<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        html, body {
            height: 94%;
            margin: 0;
            -webkit-user-select: none;
            cursor: default;
        }
        main {
            min-height: 100%;
        }
        article {
            padding: 20px;
            padding-top: 0px;
            padding-bottom: 10px;
        }
        footer {
            height: 10px;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: -10px;
        }
    </style>

</head>

<body bgcolor="#f3f3f3">
    <main>
        <article>
            <h1 align="center">Система "Климатические риски"</h1>
            <h3>Инструкция</h3>
            <ul>
                <li>Для открытия базы &mdash; воспользуйтесь меню "Файл"
                    &rightarrow; "Открыть базу" (или сочетанием клавиш Ctrl+o).
                </li>
                <li>Для добавления данных &mdash; воспользуйтесь меню "Данные"
                    &rightarrow; "Добавление данных об ОЯ"
                    <ul>
                        <li>из загруженной таблицы Excel;</li>
                        <li>автоматически с сайта ВНИИГМИ.</li>
                    </ul>
                </li>
                <li>Для расчёта значений климатических рисков &mdash;
                    воспользуйтесь меню "Расчёт рисков"
                </li>
                <li>Для исследования методов нормирования данных &mdash;
                    воспользуйтесь меню "Анализ" &rightarrow; "Графики для
                    нормирования"
                </li>
            </ul>

        </article>
    </main>
    <footer>
        <p>&copy; 2019, Довжиков Сергей</p>
    </footer>
</body>

</html>

